<html>
    <head>
        <title>New Game Leverl Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">New game level blog</a></h1>
        </div>

        <div>
            <p><em>published: 14.06.2014, 12:14</em></p>
            <h2><a href="wp.pl">Moj pierwszy post</a></h2>
            <p>Blog o grach bedzie prezentowal moje podejscie do swiata gier i filmow ktore mi sie podobaja badz chce o nich troche Wam opowiedziec</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Moj drugi post</a></h2>
            <p>Tutaj beda filmy ktore mi sie podobaly i chce je w jakis sposob Wam pokazac </p>
        </div>

        <div>
            <h1>
                <em>Dziękuję za czytanie i zapraszam ponownie</em>
            </h1>
        </div>


    </body>
</html>